<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- name2对应于set方法-->
    <bean id="helloWorld" class="com.xzw.helloworld.HelloWorld">
        <property name="name2" value="Jack"/>
    </bean>

    <!-- 依赖注入的方式之构造器注入-->
    <!-- 按照顺序 -->
    <bean id="car" class="com.xzw.helloworld.Car">
        <constructor-arg value="dongfeng" />
        <constructor-arg value="shenzhen" />
        <constructor-arg value="300000" />
    </bean>

    <!-- 通过指定类型或name判断使用那个构造器 -->
    <bean id="car2" class="com.xzw.helloworld.Car">
        <constructor-arg value="shanghai" name="corp" />
        <constructor-arg value="baoma" name="brand" />
        <constructor-arg value="300000" type="double" />
    </bean>

    <!-- 通过指定类型或index判断使用那个构造器 -->
    <bean id="car3" class="com.xzw.helloworld.Car">
        <constructor-arg value="beijing" index="1" />
        <constructor-arg value="aodi" index="0" />
        <constructor-arg value="200"  type="int" />
    </bean>
</beans>