<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

<!--    name2对应于set方法-->
    <bean id="helloWorld" class="com.xzw.helloworld.HelloWorld">
        <property name="name2" value="Jack"/>
    </bean>
</beans>