<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- bean 的自动装配 -->
    <bean id="car" class="com.xzw.helloworld2.Car"
          p:brand="BaoMa" p:price="300000"/>

    <bean id="address" class="com.xzw.helloworld2.Address"
          p:city="beijing" p:street="WuDaoKou"/>

    <bean id="person" class="com.xzw.helloworld2.Person"
          p:name="Jack" autowire="byName"/>

    <!--
        bean之间的关系：
             1. 继承关系：指bean配置的继承关系，子bean可以继承父bean的属性配置
             2. 依赖关系：值被依赖的bean会先被实例化
    -->
    <bean id="address2" class="com.xzw.helloworld2.Address"
          p:city="beijing" p:street="WuDaoKou"/>

    <bean id="address3" parent="address2" p:street="HuiLongSi"/>

    <!-- 表示car要在person2之前实例化 -->
    <bean id="person2" class="com.xzw.helloworld2.Person"
          p:name="Jane" depends-on="car"/>

    <!--
        bean 的作用域：
            默认为 singleton：bean在初始化容器时被创建，每次请求获得同一个bean
            prototype：bean在初始化容器时不创建，每次请求时再创建一个新的bean
    -->
    <bean id="car2" class="com.xzw.helloworld2.Car" p:brand="Baoma" p:price="200000"/>
    <bean id="car3" class="com.xzw.helloworld2.Car" p:price="300000" p:brand="jinlin" scope="prototype"/>
</beans>