<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean name="car" class="com.xzw.helloworld4.StaticCarFactory" factory-method="getCar">
        <constructor-arg value="audi" name="name"/>
    </bean>

    <bean name="carFactory" class="com.xzw.helloworld4.InstanceCarFactory"/>

    <bean name="car1" factory-bean="carFactory" factory-method="getCar">
        <constructor-arg value="baoma"/>
    </bean>
</beans>